.header{
    background-image: url(../img/nuotrauka1.png);
    color: white;
    padding: 20px;

}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.menu{
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: Aria, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.menu li a {
    color: white;
    text-decoration: none;
}
.language {
    display: flex;
    gap: 10px;
}
.kontaktai {
    background: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}