
.tech {
    width: 1920px;
    height: 640px;
    top: 5471px;
    position: absolute;
  }
  .techpav {
    width: 556px;
    height: 58px;
    left: 150px;
    font-weight: 400;
    font-size: 60px;
    line-height: 57.9px;
    position: absolute;
  }
  .techtext {
    width: 634px;
    height: 144px;
    top: 158px;
    left: 900px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #2f353fb2;
    position: absolute;
  }
  .techlinija {
    width: 1620px;
    top: 421px;
    left: 150px;
    rotate: -0deg;
    position: absolute;
    stroke-width: 1px;
    border: 1px solid rgba(147, 150, 155, 0.50);
  
  }
  .box1 {
    width: 220px;
    height: 238px;
    top: 402px;
    left: 150px;
    position: absolute;
  }
  .t1{
    width: 228px;
    height: 68px;
    top: 462px;
    color: var(--main-light, #2F353F);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Neue Machina";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    position: flex;
  }
  .elipse2{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 40px;
    background: var(--purple-light, #CBCAF3);
    position: absolute;
  }
  .elipse1{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 40px;
    background-color: #2e2bd0;
    position: absolute;
    left: 10px;
  }
  .elipse3{
    width: 40px;
    height: 40px;
    top: 402px;
    left: 150px;
    display: flex;
    align-items: center;
  }
  .techblock{
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1.5px solid var(--main-blue, #2E2BD0);
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .jvscrpt{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
  }
  .javalogo{
    top: 560px;
    left: 150px;
    display: flex;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
  }
  .box2{
    width: 162px;
    height: 93px;
    top: 415px;
    left: 422px;
    position: absolute;
  
  }
  .taskiuks2{
    width: 15px;
    height: 15px;
    top: 415px;
    background-color: #93969B;
    border-radius: 10px;
  }.t2{
    width: 151px;
    height: 46px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    color: rgba(47, 53, 63, 0.70);
  }
  .box3{
    width: 162px;
    height: 93px;
    top: 415px;
    left: 636px;
    position: absolute;
  }
  .taskiuks3{
    width: 15px;
    height: 15px;
    top: 415px;
    left: 636px;
    background-color: #93969B;
    border-radius: 10px;
  }
  .t3{
    width: 151px;
    height: 46px;
    top: 462px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    color: rgba(47, 53, 63, 0.70);
  }
  .box4{
    width: 162px;
    height: 93px;
    top: 415px;
    left: 831px;
    position: absolute;
  }
  .taskiuks4{
    width: 15px;
    height: 15px;
    top: 415px;
    left: 831px;
    background-color: #93969B;
    border-radius: 10px;
  }
  .t4{
    width: 151px;
    height: 46px;
    top: 462px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    color: rgba(47, 53, 63, 0.70);
  }
  .box5{
    width: 162px;
    height: 93px;
    top: 415px;
    left: 1026px;
    position: absolute;
  }
  .taskiuks5{
    width: 15px;
    height: 15px;
    top: 415px;
    left: 1026px;
    background-color: #93969B;
    border-radius: 10px;
  }
  .t5{
    width: 151px;
    height: 46px;
    top: 462px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    color: rgba(47, 53, 63, 0.70);
  }
  .box6{
    width: 162px;
    height: 93px;
    top: 415px;
    left: 1213px;
    position: absolute;
  }
  .taskiuks6{
    width: 15px;
    height: 15px;
    top: 415px;
    left: 1213px;
    background-color: #93969B;
    border-radius: 10px;
  }
  .t6{
    width: 151px;
    height: 46px;
    top: 462px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    color: rgba(47, 53, 63, 0.70);
  }
  .box7{
    width: 162px;
    height: 93px;
    top: 415px;
    left: 1403px;
    position: absolute;
  }
  .taskiuks7{
    width: 15px;
    height: 15px;
    top: 415px;
    left: 1403px;
    background-color: #93969B;
    border-radius: 10px;
  }
  .t7{
    width: 151px;
    height: 46px;
    top: 462px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    color: rgba(47, 53, 63, 0.70);
  }
  .box8{
    width: 162px;
    height: 93px;
    top: 415px;
    left: 1619px;
    position: absolute;
  }
  .taskiuks8{
    width: 15px;
    height: 15px;
    top: 415px;
    left: 1619px;
    background-color: #93969B;
    border-radius: 10px;
  }
  .t8{
    width: 151px;
    height: 46px;
    top: 462px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    color: rgba(47, 53, 63, 0.70);
  }